@config "../../../tailwind.config.ts";

@import 'tailwindcss' source(none);

@source "../../**/*.{js,ts,vue}";

@import '@nuxt/ui';

/* Theme */
@import './theme/primary.css';

@theme inline {
    --color-brand-accent: var(--brand-color-accent);
}
