@config "../../../tailwind.config.ts";

@import 'tailwindcss' source(none);

@source "../../**/*.{js,ts,vue}";

@import '@nuxt/ui';

@import './base/fonts.css';
@import './base/scroll.css';

/* Theme */
@import './theme/base.css';
@import './theme/theme-default.css';

@theme {
    --font-roboto: 'Roboto', sans-serif;

    --leading-head: 1.2;
    --leading-prose: 1.444;
}

@theme inline {
    --color-brand-accent: var(--brand-color-accent);
    --color-brand-dark: var(--brand-color-dark);
    --color-brand-light: var(--brand-color-light);
    --color-brand-blue-color: var(--brand-color-blue-color);
    --color-brand-cyan-color: var(--brand-color-cyan-color);
    --color-brand-pink-color: var(--brand-color-pink-color);
    --color-brand-light-text: var(--brand-color-light-text);
    --color-brand-text: var(--brand-color-text);
}
