@layer base {
    :root {
        --ui-bg: #fff;

        /* Container */
        --ui-container: 100%;
        --ui-container-px: 10px;

        /* Button styles */
        --btn-radius: 0.5rem;
        --btn-px-xs: 0.5rem;
        --btn-py-xs: 0.375rem;
        --btn-text-xs: 0.75rem;
        --btn-px-sm: 0.75rem;
        --btn-py-sm: 0.5rem;
        --btn-text-sm: 0.875rem;
        --btn-px-md: 1rem;
        --btn-py-md: 0.625rem;
        --btn-text-md: 1rem;
        --btn-px-lg: 1.25rem;
        --btn-py-lg: 0.75rem;
        --btn-text-lg: 1.125rem;
        --btn-px-xl: 1.5rem;
        --btn-py-xl: 0.875rem;
        --btn-text-xl: 1.25rem;
    }

    @media (min-width: theme(--breakpoint-lg)) {
        :root {
            --ui-container-px: 20px;
        }
    }

    @media (min-width: theme(--breakpoint-xl)) {
        :root {
            --ui-container: 1528px;
        }
    }

    @media (min-width: theme(--breakpoint-2xl)) {
        :root {
            --ui-container: theme(--breakpoint-2xl);
            --ui-container-px: 60px;
        }
    }
}
