@layer base {
    :root {
        --ui-bg: #fff;
        --ui-text: #333;
        --ui-text-highlighted: #333;

        /* Container */
        --ui-container: 100%;
        --ui-container-px: 10px;

        /* Button styles */
        --btn-radius: 0.5rem;
        --btn-px-md: 1.5rem;
        --btn-py-md: 1rem;
        --btn-text-md: 0.875rem;
        --btn-px-lg: 1.25rem;
        --btn-py-lg: 0.75rem;
        --btn-text-lg: 0.875rem;

        --btn-compound-leading-pl-md: 1.25rem;
        --btn-compound-trailing-pr-md: 1.25rem;
        --btn-compound-square-p-md: 1rem;

        --btn-compound-leading-pl-lg: 1.25rem;
        --btn-compound-trailing-pr-lg: 1.25rem;
        --btn-compound-square-p-lg: 1rem;

        /* Input styles */
        --input-line-height: 1.2;

        --input-px-md: 20px;
        --input-pt-md: 20px;
        --input-pb-md: 12px;
        --input-leading-ps-md: 10px;
        --input-trailing-pe-md: 10px;
        --input-gap-md: 6px;
        --input-text-md: 15px;

        --input-px-lg: 12px;
        --input-pt-lg: 8px;
        --input-pb-lg: 8px;
        --input-leading-ps-lg: 12px;
        --input-trailing-pe-lg: 12px;
        --input-gap-lg: 8px;
        --input-text-lg: 14px;

        /* Input label & placeholder */
        --input-label-top-inactive: 14px;
        --input-label-top-active: 8px;
        --input-label-text-inactive: var(--input-text-md);
        --input-label-text-active: 10px;
        --input-label-font-weight-inactive: 400;
        --input-label-font-weight-active: 500;
        --input-label-color-inactive: #00de76;
        --input-label-color-active: #8d8d8d;
        --input-label-padding-x: 6px;

        --input-placeholder-color: #d1d5db;

        --input-compound-leading-ps-lg: 40px;
        --input-compound-trailing-pe-lg: 40px;

        --input-compound-leading-ps-md: 36px;
        --input-compound-trailing-pe-md: 36px;
    }

    @media (min-width: theme(--breakpoint-lg)) {
        :root {
            --ui-container-px: 20px;
        }
    }

    @media (min-width: theme(--breakpoint-xl)) {
        :root {
            --ui-container: 1528px;
        }
    }

    @media (min-width: theme(--breakpoint-2xl)) {
        :root {
            --ui-container: theme(--breakpoint-2xl);
            --ui-container-px: 60px;
        }
    }
}
