@layer base {
    :root {
        --ui-bg: #fff;
        --ui-text: #333;
        --ui-text-highlighted: #333;

        /* Container */
        --ui-container: 100%;
        --ui-container-px: 10px;

        /* Button styles */
        --btn-radius: 0.5rem;

        /* Button Size */
        --btn-px-md: 1.5rem;
        --btn-py-md: 1rem;
        --btn-text-md: 0.875rem;
        --btn-px-lg: 1.25rem;
        --btn-py-lg: 0.75rem;
        --btn-text-lg: 0.875rem;

        /* Button Compound Size */
        --btn-compound-leading-pl-md: 1.25rem;
        --btn-compound-trailing-pr-md: 1.25rem;
        --btn-compound-square-p-md: 1rem;

        --btn-compound-leading-pl-lg: 1.25rem;
        --btn-compound-trailing-pr-lg: 1.25rem;
        --btn-compound-square-p-lg: 1rem;

        /* Input styles */
        --input-line-height: 1.2;
        --input-radius-md: 10px;
        --input-radius-lg: 10px;
        --input-ring-color: #bdbdbd;
        --input-ring-color-hover: #333;

        /* Input Size */
        --input-px-md: 20px;
        --input-pt-md: 18px;
        --input-pb-md: 10px;
        --input-leading-ps-md: 16px;
        --input-trailing-pe-md: 16px;
        --input-gap-md: 6px;
        --input-text-md: 15px;
        --input-py-md: 16px;

        --input-px-lg: 20px;
        --input-pt-lg: 20px;
        --input-pb-lg: 12px;
        --input-leading-ps-lg: 16px;
        --input-trailing-pe-lg: 16px;
        --input-gap-lg: 6px;
        --input-text-lg: 15px;
        --input-py-lg: 16px;

        /* Input label */
        --input-label-text-inactive: var(--input-text-md);
        --input-label-text-active: 10px;
        --input-label-font-weight-inactive: 400;
        --input-label-font-weight-active: 500;
        --input-label-color-hover: #333;
        --input-label-color-inactive: #333;
        --input-label-color-active: #8d8d8d;

        /* Input label Size */
        --input-label-top-inactive-md: 12px;
        --input-label-top-active-md: 6px;
        --input-label-padding-x-md: var(--input-px-md);

        --input-label-top-inactive-lg: 14px;
        --input-label-top-active-lg: 8px;
        --input-label-padding-x-lg: var(--input-px-lg);

        /* Input placeholder */
        --input-placeholder-color: #d1d5db;

        /* Input placeholder Size */
        --input-placeholder-px-md: var(--input-px-md);
        --input-placeholder-px-lg: var(--input-px-lg);

        /* Input Compound Size */
        --input-compound-leading-ps-lg: 40px;
        --input-compound-trailing-pe-lg: 40px;

        --input-compound-leading-ps-md: 40px;
        --input-compound-trailing-pe-md: 40px;
    }

    @media (min-width: theme(--breakpoint-lg)) {
        :root {
            --ui-container-px: 20px;
        }
    }

    @media (min-width: theme(--breakpoint-xl)) {
        :root {
            --ui-container: 1528px;
        }
    }

    @media (min-width: theme(--breakpoint-2xl)) {
        :root {
            --ui-container: theme(--breakpoint-2xl);
            --ui-container-px: 60px;
        }
    }
}
