@layer base {
    :root {
        --ui-bg: #fff;
        --ui-text: #333;
        --ui-text-highlighted: #333;

        /* Container */
        --ui-container: 100%;
        --ui-container-px: 10px;

        /* Button styles */
        --btn-radius: 0.5rem;
        --btn-px-md: 1.5rem;
        --btn-py-md: 1rem;
        --btn-square-p-md: 1rem 1.25rem;
        --btn-text-md: 0.875rem;
        --btn-px-lg: 1.25rem;
        --btn-py-lg: 0.75rem;
        --btn-square-p-lg: 1rem 1.25rem;
        --btn-text-lg: 0.875rem;
    }

    @media (min-width: theme(--breakpoint-lg)) {
        :root {
            --ui-container-px: 20px;
        }
    }

    @media (min-width: theme(--breakpoint-xl)) {
        :root {
            --ui-container: 1528px;
        }
    }

    @media (min-width: theme(--breakpoint-2xl)) {
        :root {
            --ui-container: theme(--breakpoint-2xl);
            --ui-container-px: 60px;
        }
    }
}
