*.yml
/.git
/.github
/.vscode
/app/Enums
/bootstrap/cache
/node_modules
/vendor
/docker
/public/**/*.*
/storage
_ide_helper.php
.phpstorm.meta.php
.eslintrc
composer.lock
package-lock.json
package.json
README.md
resources/fonts/icons
resources/views/mail
resources/views/emails
resources/js/types/ziggy-generated.d.ts
resources/js/utils/ziggy.js
tsconfig.json
