{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-rational-order",
    "stylelint-config-tailwindcss"
  ],
  "ignoreFiles": ["vendor/**", "public/**", "**/*.js", "**/*.ts"],
  "overrides": [
    {
      "files": ["**/*.vue"],
      "customSyntax": "postcss-html"
    }
  ],
  "rules": {
    "no-invalid-position-at-import-rule": null,
    "at-rule-no-deprecated": [true, { "ignoreAtRules": ["apply"] }],
    "font-family-no-missing-generic-family-keyword": null,
    "selector-class-pattern": "^[^A-Z]+$"
  }
}
