@layer base {
    body *::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    body *::-webkit-scrollbar-track {
        background: #fff;
        border-radius: 0.25rem;
    }

    body *::-webkit-scrollbar-thumb {
        background: #bdbdbd;
        border-radius: 0.25rem;
    }

    body *::-webkit-scrollbar-thumb:hover {
        background: #8f8f8f;
    }
}
